body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.premade {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.sets h1 {
  text-align: center;
}

.sets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em;
  border: 2px black solid;
  width: 350px;
  border-radius: 10px 10px 10px 10px;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.set:hover {
  box-shadow: 10px 10px 10px rgb(74, 71, 71);
}

.set img {
  width: 350px;
  border-radius: 10px 10px 0px 0px;
}

.set-details {
  color: black;
  text-align: center;
}

.name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px rgb(172, 172, 172) solid;
}

.menu-container p {
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: black;
}

.menu-container p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menu-container Link {
  text-decoration: none;
  color: black;
}

.email-icon {
  transition: 0.2s ease-in-out;
}

.email-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.product p {
  max-width: 350px;
}

.product-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.product-image {
  margin-top: 20px;
  max-width: 350px; 
  height: auto; 
  border-radius: 10px;
}

.product-name {
  text-align: center;
}

.dime-method img {
  height: 350px;
  width: auto; 
  border-radius: 10px;
}

.instructions {
  margin-top: 20px;
  width: 350px;
}

.ins-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: black;
  transition: 0.1s ease-in-out;
}

.footer a:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.footer img {
  margin-top: 20px;
  width: 350px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

/* for screens with a min width of 1000px */
@media screen and (min-width: 1000px) {
  .sets-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .set {
    margin: 10px;
  }

  .product-container {
    flex-direction: row;
    gap: 20px;
  }

  .product-image {
    max-width: 600px;
  }

  .dime-method img {
    height: 600px;
    width: auto; 
  }

  .instructions {
    margin-top: 20px;
    width: 600px;
  }
}
/* for screens with a min width of 1400px */
@media screen and (min-width: 1400px) {
  .product-container {
    flex-direction: row;
    gap: 50px;
  }

  .dime-method img {
    height: 1000px;
    width: auto; 
  }

  .instructions {
    margin-top: 20px;
    width: 1000px;
  }
}